<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="hero" class="hero-wrap" style="background-image: url('/images/home/home.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-10 col-md-8 ftco-animate d-flex align-items-end">
                <div class="text text-left w-100">
<!--                    <h1 class="mb-4" style="font-size: 40px">여러분들을 향해<br>항상<br>열려있습니다.</h1>-->
<!--                    <h1 class="mb-4">언제까지 <br><b>올빡</b>만 하실 건가요?</h1>-->
<!--                    <p><a href="/canvas" class="py-3 px-4">어울리는 미용 찾기</a></p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel">
                <span class="ion-ios-arrow-round-down"></span>
            </div>
        </a>
    </div>
</div>

</html>