<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="card (${card})" class="property-wrap">
    <div class="img d-flex align-items-center justify-content-center"
         th:style="'background-image: url(' + '/canvas/image/' + ${card.getFilePath()} + ');'">
        <a href="#" th:href="'/canvas/' + ${card.getId()}"
           class="icon d-flex align-items-center justify-content-center btn-custom">
            <span class="ion-ios-link"></span>
        </a>
    </div>

    <div class="text">
        <!--
        <h3 class="mb-0">
            <a href="#" th:href="'/canvas/' + ${card.id}" th:text="${card.title}">푸들 기본컷</a>
        </h3>
        <span class="location d-inline-block mb-3" th:text="${card.content}">무난한 푸들 기본컷. <br>₩ 30,000 ~</span>
        -->
        <span class="location d-inline-block mb-3">
            <a class="location d-inline-block mb-3" href="#"
               th:href="'/canvas/' + ${card.getId()}" th:text="${card.getTitle()}">제목</a>
            <br>
            <h5>
                <span class="badge badge-secondary"
                      style="margin-left: 1px; margin-right: 1px"
                      th:each="tag : ${card.getTags()}"
                      th:text="${tag.getTitle()}">태그</span>
            </h5>
        </span>
    </div>

</div>

</html>