<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="card (card)" class="property-wrap ftco-animate">
    <div class="img d-flex align-items-center justify-content-center"
         style="background-image: url('/images/beauty/work-1.jpg');" th:style="'background-image: url(' + ${card.thumbnailPath} + ');'">
        <a href="#" th:href="'/canvas/' + ${card.id}"
           class="icon d-flex align-items-center justify-content-center btn-custom">
            <span class="ion-ios-link"></span>
        </a>
    </div>

    <div class="text">
        <!--
        <h3 class="mb-0">
            <a href="#" th:href="'/canvas/' + ${card.id}" th:text="${card.title}">푸들 기본컷</a>
        </h3>
        <span class="location d-inline-block mb-3" th:text="${card.content}">무난한 푸들 기본컷. <br>₩ 30,000 ~</span>
        -->
        <span class="location d-inline-block mb-3">
            <a class="location d-inline-block mb-3" href="#" th:href="'/canvas/' + ${card.id}">원본 사이즈로 보기</a>
        </span>
    </div>

</div>

</html>