<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<section th:fragment="hero"
        class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
        style="background-image: url('/images/about/about.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread"><strong>똥강아지</strong></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">홈 <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>놀이방 <i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

</html>