<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<!-- 네비게이션 영역 -->
<div th:replace="fragments.html :: main-nav(currentMenu='kindergarden')"></div>

<!-- 메인 이미지 영역 -->
<section th:replace="kindergarden/hero.html :: hero"></section>

<section class="ftco-section ftco-fullwidth">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Services</span>
                <h2 class="mb-2">놀이방</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex text-wrapper align-items-stretch" style="display: block !important;">
            <div class="one-half img d-flex align-self-stretch" style="background-image: url('images/kindergarden/kinder-1.gif');"></div>
            <div class="one-half img d-flex align-self-stretch" style="background-image: url('images/kindergarden/kinder-2.gif');"></div>
            <div class="one-half half-text d-flex justify-content-end align-items-center">
                <div class="text-inner pl-md-5">
                    <div class="row d-flex">
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
                                <div class="media-body pl-4">
                                    <p>강아지들의 입소문을 탄 바로 그 곳!</p>
                                    <p>똥강아지 놀이방을 소개합니다.</p>
                                    <p>사회성 UP! 재미 UP! 놀이방으로 스트레스 해소는 덤!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services-wrap d-flex">
                                <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
                                <div class="media-body pl-4">
                                    <p>다양한 노즈워크 놀이와 터그놀이를 통해 자연스러운 후각활용으로 강아지들의 스트레스를 해소시켜줍니다.</p>
                                    <p>혼자 집에 있을 우리 강아지, 똥강아지 놀이방으로 스트레스 해소시켜주는 건 어떨까요?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 푸터 영역 -->
<div th:replace="fragments.html :: footer"></div>

<!-- 로더 영역 -->
<div th:replace="fragments.html :: loader"></div>

<!-- 스크립트 로드 영역 -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/js/google-map.js"></script>
<script src="/js/main.js"></script>
<!-- 스크립트 로드 영역 끝 -->
</body>
</html>